<div class = "row">
  <h1> 8 Ball </h1>
</div>

<div class = "row">
  <div class = "block"><h1> Player </h1></div>
  <div class = "block"><h1> Race </h1></div>
  <div class = "block"><h1> Ghost </h1></div>
</div>

<div class = "row">

  <div class = "block">
    <button (click) = "playerIncrement()"> + </button>
    <button (click) = "playerDecrement()"> - </button>
  </div>

  <div class = "block"><h1> {{ game.userScore }}</h1></div>

  <div class = "block">
    <input type = "text" size = "3" height = "400" width = "400"
      [(ngModel)] = "game.raceTo"/>
  </div>

  <div class = "block"><h1> {{ game.ghostScore }}</h1></div>

  <div class = "block">
    <button (click) = "ghostIncrement()"> + </button>
    <button (click) = "ghostDecrement()"> - </button>
  </div>

</div>

<br><br><br>
  
<div>
  <label> Session Name:
    <input [(ngModel)] = "game.saveName">
  </label>
</div>

<br>

<button class = "submit-button" (click) = submit()> 
  Save Session 
</button>











