h1
{
  font-size: 1.5em;
  margin-bottom: 0;
}

button
{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover
{
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

button:active
{
  position: relative;
  top: 1px;
}

.btn-group button
{
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:12px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

/* clear floats (clearfix hack) */
.btn-group:after
{
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover
{
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.btn-group button:active
{
  position: relative;
  top: 1px;
}





